@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
        background: #f6f5f7; 
        font-family: 'Montserrat', sans-serif;
        color: rgb(216, 167, 107);
}

#bigcontenedor{
    width: 900px;
    height: 500px;
    background-image: radial-gradient(circle at -19.64% 62.28%, #ff65b3 0, #ff59c0 10%, #ff4ecd 20%, #ff45d9 30%, #ff3fe6 40%, #f23cf2 50%, #d33ffe 60%, #ad46ff 70%, #7b4fff 80%, #0058ff 90%, #0060ff 100%);
    text-align: center;
    position: absolute;
    margin: auto;
    inset: 0;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

#Calculadora{
background-color: azure;
width: 50%;
height: 100%;
float: left;
}

#Detalle{
background-color: rgb(68, 5, 127);
color: bisque;
width: 50%;
height: 100%;
float: right;
text-align: left;
}

#titulodetalle {
    text-align: center;
}
.Contenido{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    padding: 40px;
}

.Formula{
    font-weight: bold;
    transform: translateY(10%);
}

input{
    width: 70%;
    padding: 12px 15px;
    border: none;
    background-color: rgb(220, 229, 236);
}

button {
    font-size: 15px;
      font-weight: bold;
      padding: 12px 45px;
      border-radius: 30px;
      background-color: #73058e;
      border: 1px solid #4c0457;
      color: bisque;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: transform 20ms ease-in;
      transform: translateY(25%);
  }

button:active {
	transform: scale(0.75);
}

#error{
    color:red;
    font-weight: bold;
    display: none;
}

.resultado{
    color: #0A81D1;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}